<h1>Admin - Index</h1>
<p>
	<a href="/">Index</a><br>
	<a href="/login">Login</a><br>
	<a href="/login/logout">Logout</a><br>
	<a href="/admin">Admin - Index</a><br>
	<a href="/admin/createUser">Admin - CreateUser</a><br>
	<a href="/admin/listUsers">Admin - ListUsers</a><br>
</p>
