<p>
	<a href="/">Index</a><br>
	<a href="/user">User - Index</a><br>
	<a href="/user/login">User - Login</a><br>
	<a href="/user/logout">User - Logout</a><br>
	<a href="/admin">Admin - Index</a><br>
	<a href="/admin/manageUsers">Admin - ManageUsers</a><br>
	<a href="/admin/manageUsers/create">Admin - CreateUser</a><br>
</p>
