<h1>Admin -> ListUsers</h1>
<p>
	
	<table>
		<tr>
			<td>userId</td>
			<td>userMail</td>
			<td>userName</td>
		</tr>
		{{#each users}}
		<tr>
			<td>{{userId}}</td>
			<td>{{userMail}}</td>
			<td>{{userName}}</td>
		</tr>
		{{/each}}
	</table>
	Count: <b>{{length users}}</b><br><br>
	<a href="/admin">Admin - Index</a>
</p>
