<p>
	Requested operation may be stressful for db / cpu / mem / filesystem. Do you want to continue?<br />
	<!-- <a class="button" href="/admin/stats/populate">YOLO</a> -->
	<form method="post">
		<input type="submit" value="YOLO" />
	</form>
</p>