<table>
	<tr>
		<td>Key</td>
		<td>Value</td>
	</tr>
	<tr>
		<td>dbUsed</td>
		<td>{{fixed db.dbSize 2}}MB</td>
	</tr>
	<tr>
		<td>dbFreeAlloc</td>
		<td>{{fixed db.dbFreeSpace 2}}MB</td>
	</tr>
</table>