<!DOCTYPE html>
<html>
<head>
	<title>Error - {{default error.code 'Unknown'}}</title>
	<link rel='stylesheet' href='/stylesheets/error.css' />
</head>
<body>
	<div id="main">
		<div id="header">
			<h2>{{error.code}}</h2>
		</div>
		<hr>
		<div id="content">
			{{{body}}}
		</div>
	</div>
</body>
</html>