<h1>Login</h1>
<p>{{message}}</p>
<p>
	<form method="POST">
		<input name="userMail" type="text"><br>
		<input name="userPassword" type="password"><br>
		<input type="submit" value="Login">
	</form><br />
	<a href="/user/register">Register here</a>
</p>
