<h1>Recover account</h1>
<p>{{message}}</p>
{{#unless hideForm}}
<p>
	<form method="POST" action="/user/recover/{{token}}">
		New password: <input name="userPassword" type="password"><br />
		Retype: <input name="userPassword2" type="password">
		<input type="submit" value="Proceed">
	</form>
</p>
{{else}}
<p>
	<a href="/user/login">Login here</a>
</p>
{{/unless}}